.register {
    // height: 100vh;
  }

  // .registerInput{
  //   border: 1px solid gray;
  // }
  
  // .registerInput:focus{
  //   outline: none;
  // }

  .logo {
    color: var(--primary-color);
  }
  
  
  .registerForgot{
    text-align: center;
    color: var(--primary-color);
  }
  