/* Icons CSS Start Here */
.icns {
  display: inline-block;
  background-size: contain !important;
}

.icon-facebook-item {
  background-image: url("../images/facebook_images.png");
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
}


      

// .icon-password-show {
//   background: url("../images/password_show.svg") no-repeat center center;
// }


/* Icons CSS End Here */

